@import "tailwindcss";

/* ===========================
   Theme Colors & Fonts
=========================== */

@theme {

  --color-bgds: #09090B;

  --color-forHover: #1A1A1A;

  --color-brdr: #232324;

  --color-texts: #858B96;

  --color-spcl: #5C626E;


  --font-chill: "Poppins", sans-serif;

  --font-sixtyFour: "Sixtyfour", sans-serif;

}


/* ===========================
   Global
=========================== */

html,
body,
#root {

  width: 100%;

  min-height: 100%;

  margin: 0;

  padding: 0;

}


/* ===========================
   Github Calendar
=========================== */

.react-activity-calendar__calendar {

  width: 100%;

  height: 100%;

}


/* ===========================
   Blob Animation
=========================== */

@keyframes wiggle {

  0% {

    border-radius:

      60% 40% 30% 70% /

      60% 30% 70% 40%;

  }

  50% {

    border-radius:

      30% 60% 70% 40% /

      50% 60% 30% 60%;

  }

  100% {

    border-radius:

      60% 40% 30% 70% /

      60% 30% 70% 40%;

  }

}


/* Smooth Blob Image */

.animate-wiggle {

  animation: wiggle 8s ease-in-out infinite;

  transition: all 0.5s ease;

  box-shadow:

    0 0 40px rgba(255,255,255,0.06),

    0 0 80px rgba(255,255,255,0.03);

}